                       __________________________________________________
                        _____ ___   ____   _  ____  __ _____ __    ____
                       / ___// _ \ / __ \ / |/ /\ \/ // ___// /   / __/
                      / /__ / , _// /_/ //    /  \  // /__ / /__ / _/
                      \___//_/|_| \____//_/|_/   /_/ \___//____//___/
                      __________________________________________________

                        Welcome to the Cronycle ElasticSearch Cluster!
                      __________________________________________________


